@import 'size';
@import 'body';

article {
    @include size(small) {
        column-count:1;
    }
    @include size(medium) {
        column-count:2;
    }
    @include size(large) {
        column-count:3;
    }
}

body {
    @include body;
}
